header {
	background-color: #4C4C4C;
}

caption {
	color: white;
	background-color: #646362;
	border: 1px solid #D2D2D2;
} /*Cabeçalho Atividades*/

thead{
	border-bottom: 1px solid #c0c0c0;
	border-top: 1px solid #c0c0c0;
	background-color: #c0c0c0;
	color: #646362;
} /*Cabeçalho Data, Hora inicio*/

#botao {
	width:90px;
	background-color: #656B69;
	border-color: #EA7723;
}

#titulo-login{
	color:#717173;
} 

#logo-listagem {
	background-image: url("../imagens/ilegra.png");
}

#logo {
	background-image: url("../imagens/logo_ilegra.png");
}

#logo-texto{
	color: white;
}

#pesquisar {
	background-color: #c0c0c0;
}

.botoes{
	background-color: #EA7723;
	border-color: #F0974D;
	color:#ffffff;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header{
	border: 1px solid #ddd;
	background: #f6f6f6;
	font-weight: bold;
	color: #EA7723;
} 

.ui-datepicker {  
    font: 9pt Arial, sans-serif;  
} 

.background-login::after {
	content: "";
	background-image: url("../imagens/background-cinza.png");
	opacity: 0.6;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
}

.background-listagem::after {
	content: "";
	background-image: url("../imagens/background-cinza.png");
	opacity: 0.4;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
	border: 1px solid #A8A5A5;
}

td{
	background-color: #dddddd;
}

footer{
	height: 110px;
	background-color: #4C4C4C;
}

tr:hover td {
	background-color: #c0c0c0;
}