caption {
	padding-top: 8px;
	padding-bottom: 8px;
	color: white;
	text-align: left;
	background-color: #646362;
	border: 1px solid #D2D2D2;
	padding-left: 10px;
	border-radius: 10px 10px 0px 0px;
}

thead{
	border-bottom: 1px solid #c0c0c0;
	border-top: 1px solid #c0c0c0;
	background-color: #c0c0c0;
	color: #646362;
}

#botao {
	width:100px;
	margin-left: 300px;
	background-color: #656B69;
	border-color: #EA7723;
}

.background-login::after {
	content: "";
	background-image: url("../imagens/background-cinza.png");
	opacity: 0.6;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
}

.background-listagem::after {
	content: "";
	background-image: url("../imagens/background-cinza.png");
	opacity: 0.4;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
}

td{
	background-color: #dddddd;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
	border: 1px solid #A8A5A5;
}