/*** THEME   */

.table caption{
	/**background-color: #ccc;**/
	/**text-align: center;**/
	border-bottom: 1px solid white;
	background-color:#c0c0c0;
	color: black;	
	text-align: center;
}

thead{
	border-bottom: 1px solid #c0c0c0;
	border-top: 1px solid #c0c0c0;
	background-color: #c0c0c0;
	color: #fff;
}

tr:hover td {
	background-color: #EA7723;
}