html, body{
	height: 100%;
}

@media (min-width: 400px) {
	#section-login{
		width: 400px;
		margin: 0 auto;
	}
}
@media (max-height: 580px) {
	footer{
		display: none;
	}
}

header {
	height: 110px;
}

#logo {
	width: 170px;
	height: 120px;
	display:inline-block;
	background-repeat: no-repeat;
	}
		

#logo-texto{
		display: inline-block;
		margin-left: 10px;
}

#logo-listagem {
	display: inline-block;
	width: 120px;
	height: 90px;
	background-repeat: no-repeat;
}

#titulo-login{
	color: white;
	display: inline-block;
	font-size: 20px;
}

#fundo-login{
	display: block;
	min-height: 100%;
	margin-bottom: -110px;
}

#form-login{
	margin-top: 7%;
}

#logo-listagem{
	margin-top: 15px;
}

caption {
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	padding-left: 10px;
	border-radius: 10px 10px 0px 0px;
}

#titulo-listagem{
	margin-top: 1px;
}

#header-listagem{
	margin-bottom: 15px;
}

#descricao{
	height:80px;
}

#horas{
	text-align: right;
	font-weight:bold;
}

.descricao_area {
	resize: none;
}

.editar,.duplicar,.deletar{
	cursor:pointer;
}