header {
	height: 110px;
	background-color: #4C4C4C;
}

#logo-texto{
	display: inline;
	color: white;
	margin-left: 20px;
}

@media (min-width: 400px) {
	#section-login{
		width: 400px;
		margin: 0 auto;
	}
}
@media (max-height: 580px) {
	footer{
		display: none;
	}
}

th{
	border:none !important;
}

tbody td{
	border: 1px solid #7e7e7e;
}

#titulo-login{
	margin-left: 20px;
	color: white;
	display: inline-block;
	margin-top: 25px;
	vertical-align: middle;
	font-size: 20px;
	color:#717173;
}

#logo {
	width: 120px;
	display:inline-block;
	margin-top: 15px;
	margin-bottom: 15px;
	}

#botao {
	width:100px;
	margin-left: 300px;
	background-color: #EA7723;
	border-color: #F0974D;
}

#logo-listagem{
	margin-top: 15px;
}

#titulo-listagem{
	margin-top: 1px;
}


tr:hover td {
	background-color: #c0c0c0;
}

#pesquisar {
	background-color: #c0c0c0;
}

#descricao{
	height:80px;
}

#horas{
	text-align: right;
	font-weight:bold;
}


/** Estrutura */


html, body{
	height: 100%;
}

#fundo-login{
	display: block;
	min-height: 100%;
	margin-bottom: -110px;
}

footer{
	height: 110px;
	background-color: #4C4C4C;
}

#form-login{
	margin-top: 7%;

}

#header-listagem{
	margin-bottom: 15px;
}

/**
Passar para temas

*/

.botoes{
	background-color: #EA7723;
	border-color: #F0974D;
	color:#ffffff;
}