header {
	height: 100px;
	background-color: #4C4C4C;
	margin-bottom: 20px;
}

#section-login{
	width: 400px;
	margin: 0 auto;
}

th{
	border:none !important;
}

tbody td{
	border: 1px solid #7e7e7e;
}

